body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #FF6B6B;
  color: white;
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1em;
}

.hero {
  background: #FFD93D;
  padding: 2em;
  text-align: center;
}

#about, #features, #gallery, #testimonials, #cta {
  padding: 2em;
}

button {
  background: #4ECDC4;
  border: none;
  color: white;
  padding: 1em 2em;
  text-transform: uppercase;
  cursor: pointer;
}

footer {
  background: #1A535C;
  color: white;
  text-align: center;
  padding: 1em 0;
}

img {
  max-width: 100%;
  height: auto;
}

.hero {
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
  padding: 0 20px;
}

.carousel {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px 0;
}

.image-container {
  max-width: 80%;
  max-height: 70vh;
}

.image-container img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 80%;
  margin: 0 auto;
}

#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.persons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person {
  align-items: center;
  margin-bottom: 20px;
}

.person img {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  margin-right: 20px;
}

.person .info {
  flex: 1;
}

.person h3 {
  margin-top: 0;
}

.person p {
  margin-bottom: 0;
}
